apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  # Base64 encoded (Helm encodes automatically with b64enc)
  jwtSecret: {{ .Values.secrets.jwtSecret | b64enc | quote }}
  dbPassword: {{ .Values.secrets.dbPassword | b64enc | quote }}
