replicaCount: 2

image:
  repository: user-service
  pullPolicy: Never
  tag: "1.0"

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

env:
  - name: PORT
    value: "3000"
  - name: NODE_ENV
    value: "production"
  - name: DB_HOST
    value: "postgres"
  - name: DB_PORT
    value: "5432"
  - name: DB_NAME
    value: "user_service_db"

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

ingress:
  enabled: false
  className: nginx
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  targetMemoryUtilizationPercentage: 70
